<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Includes -->
  <xacro:include filename="$(find v2mini_description)/urdf/gazebo/transmission/v2mini_arm.transmission.xacro"/>  
  <xacro:include filename="$(find v2mini_description)/urdf/v2mini_robot.urdf.xacro"/>

  <!-- Add the gazebo plugins here -->
  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
      <!--robotNamespace>/</robotNamespace-->
      <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
    </plugin>
  </gazebo>

  <!-- Instantiate transmissions -->
  <xacro:v2mini_arm_transmission prefix=""/>

</robot>
