<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v2mini">

  <!-- v2mini body -->
  <include filename="$(find v2mini_description)/urdf/v2mini_body.urdf.xacro" />

  <!-- v2mini arm -->
  <include filename="$(find v2mini_description)/urdf/v2mini_arm.urdf.xacro" />

</robot>
