<launch>
  <!-- Start joint controller -->
  <rosparam file="$(find v2mini_controllers)/dynamixel_params.yaml" command="load"/>
  <node name="controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
              --port pan_tilt_port
              arm_joint1_controller
              arm_joint2_controller
              arm_joint3_controller
              arm_joint4_controller
              arm_joint5_controller
              "
        output="screen"/>

        <!-- headpan_controller -->

  <!-- Start joints trajectory controller -->
  <rosparam file="$(find v2mini_controllers)/joints_trajectory_controller.yaml" command="load"/>
  <node name="controller_spawner_meta" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
              --type=meta
              r_arm_controller
              arm_joint1_controller
              arm_joint2_controller
              arm_joint3_controller
              arm_joint4_controller
              arm_joint5_controller
              "
              output="screen"/>
</launch>
