<!-- Teleop V2Mini with a Controller -->

<launch>

   <arg name="controller" default="keyboard"/><!-- 'gamepad' or 'keyboard' -->
   <arg name="use_base" default="true"/><!-- launch base MCU node -->
   <arg name="use_torso" default="true"/><!-- launch torso MCU node -->
   <arg name="use_camera" default="true"/><!-- launch realsense r200 camera -->
   <arg name="use_arm" default="true"/><!-- launch the arm dynamixel manager and rviz urdf -->

   <include file="$(find v2mini_init)/v2mini.machine"/>

   <!-- Launch the MCU nodes -->
   <include file="$(find v2mini_init)/launch/devices.launch">
      <arg name="use_base" value="$(arg use_base)"/>
      <arg name="use_torso" value="$(arg use_torso)"/>
   </include>

   <!-- Launch the controller node -->
   <node name="controller" machine="remote" pkg="v2mini_teleop" type="teleop" respawn="false" >
      <remap from="torso_cmds" to="torso/torso_cmds"/>
      <remap from="base_cmds" to="base/base_cmds"/>
      <param name="controller" value="$(arg controller)"/>
   </node>

   <!-- Launch the realsense r200 camera -->
   <include if="$(arg use_camera)" file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch"/>
   <node if="$(arg use_camera)" name="image_window" machine="remote" pkg="rqt_image_view" type="rqt_image_view" respawn="false"/>

   <!-- Launch moveit for arm control and rviz urdf -->
   <include if="$(arg use_arm)" file="$(find v2mini_controllers)/launch/right_arm_controller.launch"/>

</launch>
