<launch>

  <arg name="model" default="$(find v2mini_description)/urdf/v2mini_robot.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find v2mini_description)/rviz/urdf.rviz" />
  <arg name="gui" default="false" />
  <arg name="use_jsp" default="true"/>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" if="$(arg use_jsp)" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
