<!-- Launch MCU Nodes -->

<launch>

    <arg name="remote_machine" default="false"/><!-- set true if being launched from remote -->
    <arg name="v2mini_ip"/><!-- provide v2-mini's IP if being launched from remote -->
    <arg name="use_mega" default="true"/><!-- launch base MCU node -->
    <arg name="use_uno" default="true"/><!-- launch torso/head MCU node -->

    <machine name="v2-mini" address="$(arg v2mini_ip)" user="v2-mini" timeout="15.0"/>

    <!-- launch arduino mega node (robot base) -->
    <group if="$(arg use_mega)"  ns="mega_base">

        <!-- Start megaware node on V2-Mini from a remote machine -->
        <node name="megaware" if="$(arg remote_machine)" machine="v2-mini" pkg="rosserial_python" type="serial_node.py" respawn="true">
            <param name="port" value="/dev/arduino_mega" />
        </node>

        <!-- Start megaware node on V2-Mini locally -->
        <node name="megaware" unless="$(arg remote_machine)" pkg="rosserial_python" type="serial_node.py" respawn="true">
            <param name="port" value="/dev/arduino_mega" />
        </node>

    </group>

    <!-- launch arduino uno node (robot torso/head) -->
    <group if="$(arg use_uno)" ns="uno_torso">

      <!-- Start unoware node on V2-Mini locally -->
      <node name="unoware" if="$(arg remote_machine)" machine="v2-mini" pkg="rosserial_python" type="serial_node.py" respawn="true" >
          <param name="port" value="/dev/arduino_uno" />
      </node>

      <!-- Start unoware node on V2-Mini locally -->
      <node name="unoware" unless="$(arg remote_machine)" pkg="rosserial_python" type="serial_node.py" respawn="true" >
          <param name="port" value="/dev/arduino_uno" />
      </node>

    </group>

</launch>
